<?xml version="1.0" encoding="utf-8"?>
<configuration>
        <configSections>
                <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                        <section name="MediaFileManager.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
                </sectionGroup>
        </configSections>
        <startup>
            
        </startup>
        <userSettings>
                <MediaFileManager.Desktop.Properties.Settings>
                        <setting name="LastFolder" serializeAs="String">
                                <value />
                        </setting>
                        <setting name="SelectedViewIndex" serializeAs="String">
                                <value>0</value>
                        </setting>
                        <setting name="AppCenterAnalyticsKey" serializeAs="String">
                                <value>d675d968-d698-4a38-832a-8b9db5d3764d</value>
                        </setting>
                </MediaFileManager.Desktop.Properties.Settings>
        </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2019.2.618.45" newVersion="2019.2.618.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>