<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <!-- This section clears any existing sources and then adds two: nuget.org and Telerik's server-->
  <packageSources>
    <clear/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <!-- This section sets the credentials for package sources
       The 'Telerik' package source is supplied by the 'Telerik' credentials -->
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="%TELERIK_NUGET_KEY%" />
    </Telerik>
  </packageSourceCredentials>
  
  <!-- This section will ensure that I only restore Telerik and Kendo packages using the 'Telerik' package source-->
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Telerik">
      <package pattern="Telerik.*" />
      <package pattern="Kendo.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
