<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  
  <packageSources>
    <clear/>
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Telerik" value="https://nuget.telerik.com/v3/index.json" protocolVersion="3" />
  </packageSources>
  
  <packageSourceCredentials>
    <Telerik>
      <add key="Username" value="api-key" />
      <add key="ClearTextPassword" value="%TELERIK_NUGET_KEY%" />
    </Telerik>
  </packageSourceCredentials>
  
  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="Telerik.Licensing" />
      <package pattern="Telerik.FontIcons" />
      <package pattern="Telerik.SvgIcons" />
      <package pattern="*" />
    </packageSource>
    
    <packageSource key="Telerik">
      <package pattern="JustMock*" />
      <package pattern="Telerik*" />
      <package pattern="Kendo*" />
      <package pattern="UI.for*" />
      <package pattern="MediaFoundation*" />
    </packageSource>
  </packageSourceMapping>

  <auditSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
  </auditSources>
</configuration>
