# If you are looking for guidance for your builds, see https://github.com/microsoft/github-actions-for-desktop-apps
name: WPF CD

on:
  push:
    branches:
      - releases

jobs:
  build:
    runs-on: windows-latest

    env:
      Configuration: Release
      RuntimeIdentifier: win-x86 #RIDs reference https://github.com/dotnet/runtime/blob/master/src/libraries/pkg/Microsoft.NETCore.Platforms/readme.md
      UwpBundlePlatform: x86 #package bundles, eg. x86|x64|arm|arm64
      Solution_Path: src\MediaFileManager\MediaFileManager.sln
      Wpf_Project_Path: src\MediaFileManager\MediaFileManager.Desktop\MediaFileManager.Desktop.csproj
      Wap_Project_Directory: src\MediaFileManager\PackageProject
      Wap_Project_Name: PackageProject.wapproj
      NuGetConfig_Path: src\nuget.config
      TELERIK_USERNAME: ${{ secrets.TELERIK_USERNAME }} # this env variable is used in the nuget.config
      TELERIK_PASSWORD: ${{ secrets.TELERIK_PASSWORD }} # this env variable is used in the nuget.config
      SigningCertificate: LancelotSoftwareLLC.pfx # For UWP package signing
      CertPrivateKey: ${{ secrets.LancelotSoftwareCert_Key }}  # For UWP package signing
      CertThumbprint: ${{ secrets.LancelotSoftwareCert_Thumbprint }} # For UWP package signing
      PartnerCenterTenantId: ${{ secrets.PARTNER_CENTER_TENANT_ID }}
      PartnerCenterClientId: ${{ secrets.PARTNER_CENTER_CLIENT_ID }}
      PartnerCenterClientSecret: ${{ secrets.PARTNER_CENTER_CLIENT_SECRET }}
      PartnerCenterStoreId: 9PD3JFK7W5MB

    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    # ****************** TOOL INSTALL and DEPENDENCY RESTORE ********************* #

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.302'
    
    # Add  MsBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.1

    # Restore NuGet packages using the nuget config (package sources authenticate using environment variable and nuget.config)
    - name: NuGet Restore
      run: dotnet restore $env:Solution_Path --configfile=$env:NuGetConfig_Path --runtime $env:RuntimeIdentifier
   
    # Restore the application
    - name:  Restore the Wpf application to populate the obj folder
      run: msbuild $env:Solution_Path /t:Restore /p:Configuration=$env:Configuration /p:RuntimeIdentifier=$env:RuntimeIdentifier


    # ********************* BUILD PREPARATION ************************ #

    # Create my own version number with a specific format using date. 
    # ex: 2020.805.1.0
    - name: Generate version number
      uses: Amadevus/pwsh-script@v1
      id: version-creator
      with:
        script: |
          $buildDay = Get-Date -Format "yyyy.Mdd"
          $ver = $buildDay + "." + $env:GITHUB_RUN_NUMBER + ".0"
          Set-ActionVariable UWP_VERSION $ver

    # Decode the Base64 encoded Pfx
    - name: Decode the Pfx
      run: |
        $pfx_cert_byte = [System.Convert]::FromBase64String("${{ secrets.LancelotSoftwareCert_Base64 }}")
        $currentDirectory = Get-Location
        $certificatePath = Join-Path -Path $currentDirectory -ChildPath src\MediaFileManager\PackageProject -AdditionalChildPath $env:SigningCertificate
        [IO.File]::WriteAllBytes("$certificatePath", $pfx_cert_byte)
    
    # Update the appxmanifest with the new verison number, app identity and publisher details.
    - name: Update manifest version
      run: |
        [xml]$manifest = get-content "src\MediaFileManager\PackageProject\Package.appxmanifest"
        $manifest.Package.Identity.Version = "$env:UWP_VERSION"
        $manifest.Package.Identity.Name = "61469LanceLotSoftware.MediaFileManager"
        $manifest.Package.Identity.Publisher = "CN=51B5A8B2-5D86-4826-BBE2-C92E963A4C02"
        $manifest.Package.Properties.DisplayName = "Media File Manager"
        $manifest.Package.Properties.PublisherDisplayName = "Lancelot Software"
        $manifest.Package.Applications.Application.VisualElements.DisplayName = "Media File Manager"
        $manifest.save("src\MediaFileManager\PackageProject\Package.appxmanifest")
    

    # ************************* UWP WAP PACKAGE BUILDS ************************* #

    # Build the Windows Application Packaging project for Sideload
    - name: Build wapproj for Sideloading
      run: msbuild $env:Solution_Path /p:GenerateAppInstallerFile=True /p:AppInstallerUri=$env:AppInstUri /p:HoursBetweenUpdateChecks=6 /p:AppxPackageDir=D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\SideLoadPackages\ /p:Platform=$env:UwpBundlePlatform /p:Configuration=$env:Configuration /p:UapAppxPackageBuildMode=$env:BuildMode /p:AppxBundle=$env:AppxBundle /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:CertPrivateKey /p:PackageCertificateThumbprint=$env:CertThumbprint
      env:
        AppxBundle: Always
        GenerateAppInstallerFile: True
        BuildMode: SideloadOnly
        AppInstUri: https://dvlup.blob.core.windows.net/general-app-files/Installers/MediaFileManager/PackageProject.appinstaller
      
    # Build the Windows Application Packaging project for Store
    - name: Build wapproj for Microsoft Store
      run: msbuild $env:Solution_Path /p:AppxPackageDir=D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\StoreUploadPackages\ /p:Platform=$env:UwpBundlePlatform /p:Configuration=$env:Configuration /p:UapAppxPackageBuildMode=$env:BuildMode /p:AppxBundle=$env:AppxBundle /p:PackageCertificateKeyFile=$env:SigningCertificate /p:PackageCertificatePassword=$env:CertPrivateKey /p:PackageCertificateThumbprint=$env:CertThumbprint
      env:
        AppxBundle: Always
        AppxPackageSigningEnabled: True
        BuildMode: StoreUpload
        GenerateAppInstallerFile: False

    # ********************* ARCHIVE BUILD ARTIFACTS ************************ #

    # ZIP up the sideload packages using Powershell
    - name: Create SideLoadPackages.zip
      run: Compress-Archive -Path D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\SideLoadPackages\* -DestinationPath D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\SideLoadPackages\SideLoadPackages.zip

    # ZIP up the store upload packages using Powershell
    - name: Create StoreUploadPackages.zip
      run: Compress-Archive D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\StoreUploadPackages\* -DestinationPath D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\StoreUploadPackages\StoreUploadPackages.zip


    # *****************  DISTRIBUTIONS ************************ #

    # AZURE STORAGE
    # This automatically distributes the sideLoad package, which users can visit the index.html page and run the appinstaller
    - name: Uploading appInstaller to Azure Blob
      id: sideload-blob-upload
      uses: LanceMcCarthy/Action-AzureBlobUpload@v1.3
      with:
        connection_string: ${{ secrets.AZURE_DVLUP_BLOB_CONNECTION_STRING }}
        container_name: general-app-files
        source_folder: src\MediaFileManager\PackageProject\SideLoadPackages\
        destination_folder: Installers/MediaFileManager
        clean_destination_folder: true

    # MICROSOFT STORE (using Store Broker)
    - name: Display the path
      shell: pwsh
      run: ./.scripts/SubmitToMsftStore.ps1


    # ****************** GITHUB RELEASE ******************** #

    # Create the release: https://github.com/actions/create-release
    - name: Create GitHub Release
      id: create_release
      uses: actions/create-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: v.${{ env.UWP_VERSION }}
        release_name: Media File Manager v.${{ env.UWP_VERSION }}
        draft: false
        prerelease: false
        body_path: .github\other\releasebody.md

    # Upload release asset: https://github.com/actions/upload-release-asset
    - name: Uploading SideLoad Release asset
      id: upload-sideload-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\SideLoadPackages\SideLoadPackages.zip
        asset_name: SideLoadPackages.zip
        asset_content_type: application/zip

    # Upload release asset: https://github.com/actions/upload-release-asset
    - name: Uploading StoreUpload Release asset
      id: upload-storeupload-asset
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: D:\a\MediaFileManager\MediaFileManager\src\MediaFileManager\PackageProject\StoreUploadPackages\StoreUploadPackages.zip
        asset_name: StoreUploadPackages.zip
        asset_content_type: application/zip


    # ******************************** CLEAN-UP ******************************* #

    # Remove the .pfx now that we're done signing
    - name: Remove the .pfx
      run: Remove-Item -path $env:Wap_Project_Directory\$env:SigningCertificate
